extends layout

block layout-content
  div.View.image-containerView
    img(src="https://1fabucket.s3.ap-south-1.amazonaws.com/EpicVC.jpg" alt="Epic Store Vice City" class="boot-img")
    div.Title
    div.NavButtons
      a(href="https://store.epicgames.com/en-US/p/grand-theft-auto-vice-city-the-definitive-edition" target="_blank" rel="noopener noreferrer")
        div.NavButton2
          span Buy Now