extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner GTA Vice City Definitive Edition
    div.Message
      div.Title
        h3 Experience the 80's
        h1 Remastered
      span.Details Order now!
    div.NavButtons
      a(href="/user")
        div.NavButton Discover Options
      a(href="/logout")
        div.NavButton Logout
