extends layout

block layout-content
  div.View.image-containerView
    img(src="https://1fabucket.s3.ap-south-1.amazonaws.com/SteamVC.jpg" alt="Steam Store Vice City" class="boot-img")
    div.Title
    div.NavButtons
      a(href="/thank-you" data-store-url="https://store.steampowered.com/app/1546990/Grand_Theft_Auto_Vice_City__The_Definitive_Edition/").NavButton2
        span Buy Now