extends layout

block layout-content
  div.View.image-containerView
    img(src="https://1fabucket.s3.ap-south-1.amazonaws.com/SteamVC.jpg" alt="Steam Store Vice City" class="boot-img")
    div.Title
    div.NavButtons
      a(href="https://store.steampowered.com/app/1546990/Grand_Theft_Auto_Vice_City__The_Definitive_Edition/" target="_blank" rel="noopener noreferrer")
        div.NavButton2
          span Buy Now