extends layout

block layout-content
  h1.Banner Choose your preferred store
  div.View.FGView
    div.NavButtons
      a(href="/EpicVC")
        div.NavButton
          span Epic Games Store

  div.View.AGView
    div.NavButtons
      a(href="/SteamVC")
        div.NavButton
          span Steam Store
