extends layout

block layout-content
  div.View
    h1.Title Thank You!
    p We appreciate your interest in Grand Theft Auto: Vice City
    p You will be redirected to the store in a moment...
    div.NavButtons
      a(href="/Store").NavButton2
        span Return to Store