extends layout

block layout-content
  div.View.UserView
    h1.Banner Hey there, #{userProfile.nickname}!
    div.Message
      div.Title
        h3 Enjoy the High Stakes Game!
        h1 Vibrant retro   
        h1 Thrilling action
      pre.Details= "Get a copy of the game now!"
    div.NavButtons
      a(href="/Store")
        div.NavButton Start Playing
